[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "cuda-pytorch"
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false

[packages]
jupyter = "*"
matplotlib = "*"
imageio = "*"
pandas = "*"
scikit-learn = "*"
torchsummary = "*"
tensorflow = "*"
pydot = "*"

### Without cuda
torch = "*"
torchvision = "*"
numpy = "*"

### With cuda
#torch = { index = "cuda-pytorch", version = "*" }
#torchvision  = { index = "cuda-pytorch", version = "*" }
#numpy = { index = "cuda-pytorch", version = "*" }

[dev-packages]

[requires]
python_version = "3.12"
